REACT_APP_API_URL=http://vrum-api.test
SECURE_LOCAL_STORAGE_HASH_KEY=32423dfdsf32334DSFO7%grsdDS3TtyU77GDF654DFg667$dsf
REACT_APP_PROFILE_PICTURE_MAX_SIZE_BYTES=1000
REACT_APP_STORAGE_URL=http://vrum-api.test/